.continer{
    color: white;
    background-color: rgb(139, 53, 37);
}

.padding{
    padding: 10px 10px;
}

.border{
    border: 1px solid black;
}

#margin{
    margin: 15px 15px;
}

.outline{
    outline: 1px solid red;
}