*{
  font-family: sans-serif ;
}
body {
    margin: 0;
}
      /* Header */
      header img {
        width: 360px;
        margin-left: 12%;
        margin-bottom: 2%;
      }
      /* Nav */
      nav {
        background-color: #c72d82;
        text-align: left;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 12.5%;
      }
      nav a {
        color: white;
        text-decoration: none;
        padding: 1%;
      }
      /* Main */
      h2 {
        color: #41a4dd;
      }
      article img {
        width: 240px;
      }
      article button {
        font-weight: bolder;
        background-color: #41a4dd;
        color: white;
        border:none;
        padding: 5px 30px;
        margin: 3px;
      }
      aside a {
        color: #41a4dd;
        text-decoration: none;
      }
      ul {
        list-style-type: none;
        padding-left: 8px;
      }
      /* Footer */
      footer > section {
        background-color: #c72d82;
      }
      footer > div {
        background-color: #9c2467;
        color: white;
        text-align: center;
        font-size: 12px;
        padding: 16px 0;
      }
     #caja{
        overflow: auto; /*Padre con hijo float*/
      }

      .blog{
     /* margin:3% 1% 3% 1%; aqui se está sumando u excede el 100%*/
        margin-left: 12.5%;
        margin-bottom: 2%;
        width: 50%;
        float: left;
      }

      .blog-post img{
        float:left;
      }
      .blog-post{
       overflow: auto;
      }

      .blog-post img{
        width:170px;
        height: 100px;
        margin: 5px;
      }
      #otros-post{
        width: 30%;
        float: right;
        
      }
      #footPage{
        color: white;
      }
      #aboutUs{
        margin-left: 12.5%;
        
        float: left;
        width:20%;
      }

      #menuNav{
        float: right;
        margin-right: 10%;
        width:50%;
        text-align: right;
      }
      #menuNav a{
        text-decoration: none;
      }

      #menuNav a:link{
        color: white;
      }

      #down{
    /*    clear: both;*/
      }

    